.Hero{
    min-height: 100vh;
    color: white;
    background-color: var(--black);
}
.Hero-wrapper{
    display: flex;
    align-items: center;
    gap: 5rem;
    padding: 10rem 6rem;
}
.Hero-wrapper>div{
    flex: 1;
}
.Hero-tittle{
    position: relative;
}
.Hero-left .circle{
    height: 6rem;
    width: 6rem;
    background: var(--orange-gradient);
    border-radius: 50%;
    position: absolute;
    left: 41%;
    top: -9%;
}
.Hero-left h1{
    font-size: 6rem;
    font-weight: 600;
    text-transform: capitalize;
    line-height: calc(6rem* 1.125);
    z-index: 2;
    position: relative;
    text-wrap: wrap;
    width: 73%;
}
.Hero-left>p{
    text-wrap: wrap;
    font-size: 1.5rem;
    width: 70%;
    line-height: calc(1.5rem*1.5);
    opacity: .7;
    padding: 5rem 0rem;
}
.Hero-left .map{
    height: 6rem;
    background-color: white;
    width: 80%;
    display: flex;
    align-items: center;
    border-radius: 6px;
    padding: 0rem 1rem;
    justify-content: space-between;
    margin-bottom: 5rem;
    border: 3px solid rgba(120, 120, 120, .374);
}
.Hero-left .map > i{
    font-size: 2.5rem;
    color: var(--blue);
}
.Hero-left .map input{
    background: none;
    height: 3rem;
    outline: none;
    border: none;
    width: 65%;
}
.Hero-left .counter ul{
    display: flex;
    list-style: none;
    gap: 3%;
    flex-wrap: wrap;
}
.Hero-left .counter ul li h3{
    font-size: 3rem;
    font-weight: 200;
}
.Hero-left .counter ul li p{
    font-size: 1.5rem;
    opacity: .7;
}
.Hero-left .counter ul li .Plus{
    color: orange;
}
.Hero-right{
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ---media query--- */

@media (max-width:504px) {
.Hero-wrapper{
    flex-direction: column;
}
.Hero-left h1{
    font-size: 4rem;
    width: 79%;
    line-height: calc(4rem* 1.125);
}
.Hero-wrapper{
    padding: 10rem 0rem;
}
.Hero-left>p{
    font-size: 1.6rem;
    width: 100%;
    line-height: calc(1.6rem* 1.5);
}
.Hero-left .counter ul {
    gap: 7%;
}
.Hero-left .map{
    width: 100%;
}
    }